Basics

In [64]:
"hi" + "everyone"

'hieveryone'

In [65]:
"hi" + "10"

'hi10'

In [66]:
12342643567+5253645325736

5265987969303

In [67]:
54532444-4241111

50291333

In [68]:
923* 10

9230

In [69]:
100/10 #sddd

10.0

In [70]:
100%23

8

In [71]:
print("\U0001f617")
print("\U0001f618")
print("\U0001f521")
print("\U0001f637")
print("\U0001f717")
print("\U0001f956")
print("\U0001f467")
print("\U0001f217")

ðŸ˜—
ðŸ˜˜
ðŸ”¡
ðŸ˜·
ðŸœ—
ðŸ¥–
ðŸ‘§
ðŸˆ—

### Variables in python

In [72]:
name = "Saurabh Maurya"

In [73]:
a = 12
b = 10

In [74]:
first_name ="Saurabh"

In [75]:
a = 1245

In [76]:
frist_name ='shubh'

In [77]:
a = 0

In [78]:
a ='zero'

In [79]:
a = False

### operators
- ### Arithmatic
- ### Comparison
- ### Assingnment
- ### Logical
- ### Bitwise(skipped)
- ### Membership
- ### Indentity

In [80]:
a,b=3,4

In [81]:
a + b

7

In [82]:
a-b

-1

In [83]:
a * b

12

In [84]:
a  // b

0

In [85]:
a **b

81

In [86]:
a < b

True

In [87]:
a > b

False

In [88]:
a <=b

True

In [89]:
a == b

False

In [90]:
a!=b

True

In [91]:
a % 3 ==0

True

In [92]:
a % b == 0

False

In [93]:
x =a +10

Member

In [94]:
msg  = "this is  very simple message"

In [95]:
'very' in msg

True

In [96]:
'complex' in msg

False

In [97]:
color =['red','blue' , 'green']
'yellow' in color

False

In [98]:
'yellow' not in color

True

01 feb 2022

In [99]:
x=1
y= 2435
z= -1245

In [100]:
x =1.2
type(x)

float

In [101]:
y = '''lucknow is big city
my name saurabh maurya 
i am study in bbdu'''
type(y)
print(y)

lucknow is big city
my name saurabh maurya
i am study in bbdu

In [102]:
a=10
b=20
print(a<b)
print(a>b)

True
False

In [103]:
s=[2,4,5,89,5,6,7,22]
valu=[1,2.2,'python']
color=['red', 'pink','blue','yellow']

In [104]:
s={2,4,5,89,5,6,7,22}
valu={1,2.2,'python'}
color={'red', 'pink','blue','yellow'}

In [105]:
car_info = {
     "brand" : "BMW",
     "model" : "mustang",
     "year" : "1995",
 }

In [106]:
name = input('enter your name: ')
age = input(' enter your age: ')
school = input('enter your school: ')

In [107]:
x='50'
y='30'

In [108]:
x+y

'5030'

In [109]:
x=int(x)
y=int(y)
x+y

80

In [110]:
z = 1.232
z1=int(z)
z
type(z)
z1
type(z1)

int

In [111]:
print("india is biggest country of world")

india is biggest country of world

In [112]:
print("india is biggest country of world.","Pakistan is terrorist country")

india is biggest country of world. Pakistan is terrorist country

In [113]:
print(1,2,3,4,5,6, sep=',')
print(1,2,3,4,5,6, sep='*')
print(1,2,3,4,5,6, sep='#', end='&')

1,2,3,4,5,6
1*2*3*4*5*6
1#2#3#4#5#6&

In [114]:
qty = 10
fruit = 'mango'
print('i will purchase ',qty,fruit,'today')

i will purchase  10 mango today

In [115]:
name= "Babu Banarasi Das University"
type_of_company="Educational Group"
print(f"{name} is an {type_of_company} company")

Babu Banarasi Das University is an Educational Group company

In [116]:
print('you see an apple seller')
x = input('do you like apple')
if x== 'yes':
 print(' you purchase 2kg apple')
if x== 'no':
 print('you dont purchase apple')

you see an apple seller

In [117]:
x = 5
if x >3:
    print('x is greater than 3')
    print('x is less than 3')
    print('with this ')
print('the end')

x is greater than 3
x is less than 3
with this
the end

In [118]:
temp = float(input ('what is the temperator'))
if temp >70:
    print('wear a short')
else:
    print('wear a loose dress')
print('Because temperature is very high')

wear a loose dress
Because temperature is very high

In [119]:
score =int(input('What is ur score'))
if score>=90:
    letter = "A"
elif score>=80:
    letter = "B"
elif score>=70:
    letter = "C"
elif score>=60:
    letter = "D"
elif score>=50:
    letter = "E"
else:
    letter ="F"
print(letter)

E

In [120]:
if 42 in range(100): print(42)

42

In [121]:
print('42') if 42 in [22,44,21.42] else print('22')

22

In [122]:
n =int(input('enter the number:'))
if (n<10):
    print("Condition is true")