# dictionary
- dictionary is ondered and unindexed
- dictionary is 'key:value' pair System
- the keys are always unique for a dict
- the keys are only of immutable type (number, string , tuple)
- the values can be of any type
- represented by { }
- dictionary is mutable

In [1]:
x = ['Alex','Mason',22,'3929019284',True,False] # unexplain info
std_mark_list = ['Ravi',90,'Kavi',30,'Janhvi',50,'Tanvi',20] # unlinked info

In [2]:
dict_x = {
    'firstname':'Alex',
    'lastname':'Mason',
    'age':22,
    'phone':'3929019284',
    'working':True,
    'married':False
}
print(dict_x)

{'firstname': 'Alex', 'lastname': 'Mason', 'age': 22, 'phone': '3929019284', 'working': True, 'married': False}

In [3]:
std_marks_dict = {'Ravi':90,'Kavi':30,'Janhvi':50,'Tanvi':20}
std_marks_dict

{'Ravi': 90, 'Kavi': 30, 'Janhvi': 50, 'Tanvi': 20}

In [4]:
dict_x['firstname']

'Alex'

In [6]:
report = {
    'tanya':{
        'eng':60,
        'math':90,
        'sci':90,
    },
    'saif':{
        'eng':80,
        'math':96,
        'sci':70
    },
    'bilal':{
        'eng':96,
        'math':70,
        'sci':'absent'
    }
}

In [7]:
report

{'tanya': {'eng': 60, 'math': 90, 'sci': 90},
 'saif': {'eng': 80, 'math': 96, 'sci': 70},
 'bilal': {'eng': 96, 'math': 70, 'sci': 'absent'}}

In [8]:
dict_x

{'firstname': 'Alex',
 'lastname': 'Mason',
 'age': 22,
 'phone': '3929019284',
 'working': True,
 'married': False}

adding data

In [9]:
dict_x['city'] = 'Los Angeles' # add a new key city and value los angeles in dict x
dict_x['state'] = 'California'
dict_x

{'firstname': 'Alex',
 'lastname': 'Mason',
 'age': 22,
 'phone': '3929019284',
 'working': True,
 'married': False,
 'city': 'Los Angeles',
 'state': 'California'}

Updating data

In [10]:
dict_x['age'] = 23 # update value for exising key
dict_x

{'firstname': 'Alex',
 'lastname': 'Mason',
 'age': 23,
 'phone': '3929019284',
 'working': True,
 'married': False,
 'city': 'Los Angeles',
 'state': 'California'}

Removing data

In [11]:
dict_x.pop('married')
dict_x

{'firstname': 'Alex',
 'lastname': 'Mason',
 'age': 23,
 'phone': '3929019284',
 'working': True,
 'city': 'Los Angeles',
 'state': 'California'}

In [12]:
dict_x.popitem() # remove last added items

('state', 'California')

In [14]:
x = {'a':'apple','b':'ball','c':'cat'}
y = {'d':'dog','e':'elephant','f':'fish'}

In [15]:
x.update(y)
print(x)

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'dog', 'e': 'elephant', 'f': 'fish'}

List with dict

In [16]:
x = {'a':'apple','b':'ball','c':'cat'}
y = {'d':'dog','e':'elephant','f':'fish'}
z = {'g':'goat','h':'horse','i':'icecream'}
abc = [x,y,z]
print(abc)

[{'a': 'apple', 'b': 'ball', 'c': 'cat'}, {'d': 'dog', 'e': 'elephant', 'f': 'fish'}, {'g': 'goat', 'h': 'horse', 'i': 'icecream'}]

In [17]:
data = [
    
    {'name':'Ravi','Age':22},
    {'name':'Kavi','Age':30},
]
data

[{'name': 'Ravi', 'Age': 22}, {'name': 'Kavi', 'Age': 30}]

In [18]:
abc[0]['b']

'ball'

In [20]:
data[-1]['age']

KeyError: 'age'

In [21]:
report['saif']['sci']

70

traversal or looping

In [22]:
list(dict_x.keys())

['firstname', 'lastname', 'age', 'phone', 'working', 'city']

In [23]:
list(dict_x.values())

['Alex', 'Mason', 23, '3929019284', True, 'Los Angeles']

In [24]:
list(dict_x.items())

[('firstname', 'Alex'),
 ('lastname', 'Mason'),
 ('age', 23),
 ('phone', '3929019284'),
 ('working', True),
 ('city', 'Los Angeles')]

In [25]:
# most useful
for k,v in dict_x.items():
    print(k,v)

firstname Alex
lastname Mason
age 23
phone 3929019284
working True
city Los Angeles

In [26]:
for k in dict_x:
    print(k, dict_x[k])

firstname Alex
lastname Mason
age 23
phone 3929019284
working True
city Los Angeles

WAP to add details of 5 employees in a dict. The details are as follows

- firstname
- lastname
- empid
- desingnation
- doj
- basic_salary
- department
#### then display their details after incrementing their salary by 9%