### General perpos Function

In [9]:
def check():
    print('This is a Function')

In [10]:
check()

This is a Function

In [11]:
check()
check()
check()
check()
check()

This is a Function
This is a Function
This is a Function
This is a Function
This is a Function

In [13]:
x = [1,2,3,4,5]
x.reverse()
x

[5, 4, 3, 2, 1]

Paratmeterized

In [15]:
def divide(a,b,c):
    ans= a/b/c
    print(ans)

In [17]:
divide(20,5,10)

0.4

In [19]:
divide(1,2,3)

0.16666666666666666

In [22]:
a = int(input('>'))
b = int(input('>'))
c = int(input('>'))
divide(a,b,c)

1.0

In [23]:
def update_salary(old_salary):
    new_salary = old_salary + old_salary* .09 ### local variable
    print(f"{old_salary}=>{new_salary}")

def update_travel_allowance(old_salary):
    new_salary = old_salary + old_salary* .05
    print(f"{old_salary}-> {new_salary}")

In [24]:
update_salary(500)
update_travel_allowance(1000)

500=>545.0
1000-> 1050.0

Return value

In [25]:
def update_salary(old_salary):
    new_salary = old_salary + old_salary* .09 ### local variable
    return new_salary

def update_travel_allowance(old_salary):
    new_salary = old_salary + old_salary* .05
    return new_salary

In [27]:
print(update_salary(500))

545.0

In [29]:
u_sal =update_salary(500)
print(u_sal)

545.0

In [30]:
update_salary(500) * .10

54.5

In [31]:
update_salary(update_travel_allowance(500))

572.25

- WAP to check if a number is even or odd
- WAP to remove all the volwes from a sentence passed as argument
- WAp to find teh second and third highest value is a list , list shouls pss an argument