A= 1,2,3,3,3,3,2,2,1
B= 2,2,1,2,2,3,3,1,2,4,6
A U B = 1,2,3,4,6

# Set 
1. Set can hold multiple values
2. Set is mutable (add, remove item)
3. Set is **unindexed**
4. Set can have only **unique value**
5. Set is represented by { } with comma seperated values
6. Set can have mixed values inside 
7. Set can only hold ***immutable values**
8. set **cannot be nested**

What u nees to learn
- creation
- looping
- conversion
- functions

In [2]:
x = { 1,2,3,4,5}
print(x, type(x))

{1, 2, 3, 4, 5} <class 'set'>

In [4]:
y = { 8,3,4,6,7,2,2,6}
print(y,type(y))

{2, 3, 4, 6, 7, 8} <class 'set'>

In [5]:
a= 10
b= 20
c= 'Hamon'
d= {a,b,c}
print(d)

{10, 'Hamon', 20}

In [7]:
x ={} # empty dictionary
xs = set() # empty set
print(type(x) , type(xs))

<class 'dict'> <class 'set'>

In [17]:
z = {1,1,1,1,1,1,2,2,2,2,2}
print(z)

{1, 2}

In [12]:
names = {'Alex','Jhon','Mary','Steve','Alex','alex','Jhon','Mary','Steve'}
names

{'Alex', 'Jhon', 'Mary', 'Steve', 'alex'}

In [16]:
x = set('encapsulation')
print(x)

{'t', 'p', 'n', 'c', 'l', 'i', 'a', 'e', 'o', 's', 'u'}

In [18]:
# cheakin if all the characters in a string are unique in one line of code
len (set('zaid')) == len('zaid')

True

In [20]:
nums = set([1,2,3,4,5,6,7,8,9,10,1,21,2,2,2,1,1,1])
print(nums)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 21}

In [23]:
for name in names:
    print (names, end=' ')

{'Mary', 'Jhon', 'alex', 'Alex', 'Steve'} {'Mary', 'Jhon', 'alex', 'Alex', 'Steve'} {'Mary', 'Jhon', 'alex', 'Alex', 'Steve'} {'Mary', 'Jhon', 'alex', 'Alex', 'Steve'} {'Mary', 'Jhon', 'alex', 'Alex', 'Steve'}

In [24]:
for char in x:
    print(char, end = " ")

t p n c l i a e o s u

In [25]:
x = { 1,2,"Hello" , (1,2,3)}
x

{(1, 2, 3), 1, 2, 'Hello'}

In [27]:
x = {1,2," Surabh"}
x

{' Surabh', 1, 2}

list<-> set <-> tuple <-> list

In [28]:
x = [1,2,3,2,3,1]
xt = tuple(x)
xs = set(x)
print(x,xt,xs)

[1, 2, 3, 2, 3, 1] (1, 2, 3, 2, 3, 1) {1, 2, 3}

In [29]:
xl = list(xs)
print(xs,xl)

{1, 2, 3} [1, 2, 3]

#### FUNCTION
- Adding values
    - add
    - updates
- remeoving values
    - pop
    - remove
    - discard
    - clear
- set implementation
    - union
    - intersection
    - difference
    - symmetric difference
    - is_superset
    - is_subset
    - is-disjoint

In [30]:
books = set()
books.add('Snowcrash')
books.add('A Song of Ice and Fire')
books.add(' the great Gatsby')
books

{' the great Gatsby', 'A Song of Ice and Fire', 'Snowcrash'}

In [34]:
books.update(['Stromlight Archive', 'The Name of the Wind'])
books.update(['The Finale Empire', 'The Well of Ascension'])
books

{' the great Gatsby',
 'A Song of Ice and Fire',
 'Snowcrash',
 'Stromlight Archive',
 'The Finale Empire',
 'The Name of the Wind',
 'The Name of tje Wind',
 'The Well of Ascension'}

In [35]:
books.remove('The Name of the Wind')
books

{' the great Gatsby',
 'A Song of Ice and Fire',
 'Snowcrash',
 'Stromlight Archive',
 'The Finale Empire',
 'The Name of tje Wind',
 'The Well of Ascension'}

In [36]:
books.discard('The fine of the Wind') # does not raise and error if the