#### A = 1,2,3,3,3,3,2,2,1
#### B = 2,2,1,2,2,3,3,1,2,4,6
#### A U B = 1,2,3,4,6

# Set 
1. Set can hold multiple values
2. Set is mutable (add, remove item)
3. Set is **unindexed**
4. Set can have only **unique value**
5. Set is represented by { } with comma seperated values
6. Set can have mixed values inside 
7. Set can only hold ***immutable values**
8. set **cannot be nested**

What u need to learn
- creation
- looping
- conversion
- functions

In [31]:
x = { 1,2,3,4,5}
print(x, type(x))

{1, 2, 3, 4, 5} <class 'set'>

In [32]:
y = { 8,3,4,6,7,2,2,6}
print(y,type(y))

{2, 3, 4, 6, 7, 8} <class 'set'>

In [33]:
a = 10
b = 20
c = 'Hamon'
d = {a,b,c}
print(d)

{'Hamon', 10, 20}

In [34]:
x = {} # empty dictionary
xs = set() # empty set
print(type(x), type(xs))

<class 'dict'> <class 'set'>

In [35]:
z = {1,1,1,1,1,1,2,2,2,2,2}
print(z)

{1, 2}

In [36]:
names = {'Alex', 'John', 'Mary', 'Steve', 'John', 'Steve', 'Steve','Alex','alex'}
print(names)

{'alex', 'John', 'Steve', 'Mary', 'Alex'}

In [37]:
x = set('encapsulation')
print(x)

{'o', 'e', 'l', 'i', 'c', 'u', 't', 'n', 'p', 's', 'a'}

In [38]:
# checking if all the characters in a string are unique in one line of code
len(set('zaid')) == len('zaid')

True

In [39]:
nums = set([1,2,3,4,5,6,7,8,9,10,1,1,2,2])
print(nums)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [40]:
for n in nums:
    print(n, end=' ')

1 2 3 4 5 6 7 8 9 10

In [41]:
for name in names:
    print(name, end=' ')

alex John Steve Mary Alex

In [42]:
for char in x:
    print(char, end=' ')

o e l i c u t n p s a

In [43]:
x = {1,2,"Hello",(1,2,3)}
x

{(1, 2, 3), 1, 2, 'Hello'}

In [44]:
x = {1,2," Surabh"}
x

{' Surabh', 1, 2}

list<-> set <-> tuple <-> list

In [45]:
x = [1,2,3,2,3,1]
xt = tuple(x)
xs = set(x)
print(x,xt,xs)

[1, 2, 3, 2, 3, 1] (1, 2, 3, 2, 3, 1) {1, 2, 3}

In [46]:
xl = list(xs)
print(xs,xl)

{1, 2, 3} [1, 2, 3]

#### FUNCTION
- Adding values
    - add
    - updates
- remeoving values
    - pop
    - remove
    - discard
    - clear
- set implementation
    - union
    - intersection
    - difference
    - symmetric difference
    - is_superset
    - is_subset
    - is-disjoint

In [47]:
books = set()
books.add('Snowcrash')
books.add('A Song of Ice and Fire')
books.add('The Great Gatsby')
books

{'A Song of Ice and Fire', 'Snowcrash', 'The Great Gatsby'}

In [48]:
books.update(['Stormlight Archive', 'The Name of the Wind'])
books.update(('The Final Empire','The Well of Ascension'))
books

{'A Song of Ice and Fire',
 'Snowcrash',
 'Stormlight Archive',
 'The Final Empire',
 'The Great Gatsby',
 'The Name of the Wind',
 'The Well of Ascension'}

In [49]:
books.remove('The Name of the Wind')
print(books)

{'The Final Empire', 'The Great Gatsby', 'Snowcrash', 'The Well of Ascension', 'Stormlight Archive', 'A Song of Ice and Fire'}

In [50]:
books.discard('THe fine of the Wind') # does not raise an error if the item is not in the set
books.discard('The Great Gatsby')
print(books)

{'The Final Empire', 'Snowcrash', 'The Well of Ascension', 'Stormlight Archive', 'A Song of Ice and Fire'}

In [51]:
books.pop() # removes and returns an arbitrary item
books.clear()
books

set()

In [52]:
s1 = {1,2,3,4,5,7,8}
s2 = {4,5,6,7,8}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [53]:
s1 | s2 # pipe used to perform union

{1, 2, 3, 4, 5, 6, 7, 8}

In [54]:
s1.intersection(s2)

{4, 5, 7, 8}

In [55]:
s1 & s2 # pipe used to perform intersection

{4, 5, 7, 8}

In [56]:
s3 = {11,12,13,15,16,17}
s4 = {9,0,8,2,5}

In [57]:
s1.difference(s2) # s1 unique values

{1, 2, 3}

In [58]:
s2.difference(s3) # s2 unique values

{4, 5, 6, 7, 8}

In [59]:
s1 - s2 # - used to perform difference

{1, 2, 3}

In [60]:
s2 - s4

{4, 6, 7}

In [61]:
s1.symmetric_difference(s2) # s1 and s2  unique values only

{1, 2, 3, 6}

In [62]:
s2 ^ s3 # ^ used to perform symmetric difference

{4, 5, 6, 7, 8, 11, 12, 13, 15, 16, 17}

In [63]:
s1 = {1,2,3,4,5,6,7,8,9,10}
s2 = {1,2,3}
s3 = {11,12,13}
s4 = {11,13,5}

In [64]:
s1.issuperset(s2) # s1 is a superset of s2

True

In [65]:
s2.issubset(s3)

False

In [66]:
s1.isdisjoint(s3)

True