## Tuple

1. Tuple can hold multiple values
2. Tuple is immutable (add, remove item)
3. Tuple is indexed (indexing and slicing)
4. Tuple can have duplicate item
5. Tuple is represented by ( ) with comma seperated values
6. Tuple can have mixed values inside it
7. Tuple can be nested inside list
8. Tuple has function  called  tuple() used for typecasting other sequence to tuple

#### what u need to learn
- Creation 
- Slicing and indexing
- Traversal
- functions

In [2]:
t=1,2,3,4,5
print(t)
print(type(t))

(1, 2, 3, 4, 5)
<class 'tuple'>

In [3]:
t2=(2,2,3,1,'alex','elex')
print(t2)

(2, 2, 3, 1, 'alex', 'elex')

In [4]:
x =[1,2,3,4,6]
xt = tuple(x)
print(x,xt)

[1, 2, 3, 4, 6] (1, 2, 3, 4, 6)

In [5]:
a=10
b=12
c=13
x=(a,b,c,a)
print(x)

(10, 12, 13, 10)

In [6]:
x = (1,1,1,2,2,2,3,3,4,4,3,3,56,7,7,7,7,7,8,9,3,4,)
x

(1, 1, 1, 2, 2, 2, 3, 3, 4, 4, 3, 3, 56, 7, 7, 7, 7, 7, 8, 9, 3, 4)

In [18]:
print(x[0]) # first value
print(x[1]) # second value
print(x[-1]) # last value
print(x[4]) # third value

1
1
4
2

In [17]:
print(x[:3]) # first 3
print(x [ -3]) #last 3
print(x[5 : 15]) # from 5 index to 14 index 
print(x[:: -1]) # reverse tuple
# all odd indexes
# all even indexes

(1, 1, 1)
9
(2, 3, 3, 4, 4, 3, 3, 56, 7, 7)
(4, 3, 9, 8, 7, 7, 7, 7, 7, 56, 3, 3, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1)

In [11]:
x.count(2)

3

In [12]:
x.count(1)

3

In [14]:
p = ['sit','sat', 'sitting']

In [15]:
p.index('sat')

1