### General perpos Function

In [32]:
def check():
    print('This is a Function')

In [33]:
check()

This is a Function

In [34]:
check()
check()
check()
check()
check()

This is a Function
This is a Function
This is a Function
This is a Function
This is a Function

In [35]:
x = [1,2,3,4,5]
x.reverse()
x

[5, 4, 3, 2, 1]

Paratmeterized

In [36]:
def divide(a,b,c):
    ans= a/b/c
    print(ans)

In [37]:
divide(20,5,10)

0.4

In [38]:
divide(1,2,3)

0.16666666666666666

In [39]:
a = int(input('>'))
b = int(input('>'))
c = int(input('>'))
divide(a,b,c)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
def update_salary(old_salary):
    new_salary = old_salary + old_salary* .09 ### local variable
    print(f"{old_salary}=>{new_salary}")

def update_travel_allowance(old_salary):
    new_salary = old_salary + old_salary* .05
    print(f"{old_salary}-> {new_salary}")

In [ ]:
update_salary(500)
update_travel_allowance(1000)

500=>545.0
1000-> 1050.0

Returning value

In [ ]:
def update_salary(old_salary):
    new_salary = old_salary + old_salary* .09 ### local variable
    return new_salary

def update_travel_allowance(old_salary):
    new_salary = old_salary + old_salary* .05
    return new_salary

In [ ]:
print(update_salary(500))

545.0

In [ ]:
u_sal =update_salary(500)
print(u_sal)

545.0

In [ ]:
update_salary(500) * .10

54.5

In [ ]:
update_salary(update_travel_allowance(500))

572.25

- WAF to check if a number is even or odd
- WAF to remove all the volwes from a sentence passed as argument
- WAF to find teh second and third highest value is a list , list should be pass an argument

In [ ]:
def even_odd(number):
    if number % 2 == 0:
        return "even"
    return "odd"

In [ ]:
even_odd(34)

'even'

In [ ]:
def vowel_remover (sentence):
    for vowel in "aeiouAEIOU":
        sentence = sentence.replace(vowel, '')
    return sentence

In [ ]:
def max_2_n_3(num_list):
    num_list.sort()
    return num_list[-3], num_list[-2]

In [ ]:
x=[1,2,1,2,3,5,7,8,9,0,20,34]
max_2_n_3

In [ ]:
x.sort
x

[1, 2, 1, 2, 3, 5, 7, 8, 9, 0, 20, 34]

type of parameter settings in function

- required
- named
- default
- args, kwargs

In [ ]:
def add (a,b,c):
    return a+b+c

In [ ]:
add(2,5,9)

16

In [ ]:
add(b=2,c=9,a=5)

16

In [ ]:
print(add(b=2,c=9,a=5))
print(add(7,c=4,b=510))

16
521

In [ ]:
def addv2(a,b,c=0):
    return a + b + c

In [ ]:
print(addv2(10,5))
print(addv2(10,5,23))
print(addv2(10,5,c=23))
print(addv2(a=10,b=5,c=23))
print(addv2(b=10,a=5,c=23))

15
38
38
38
38

In [ ]:
def addv3(a=0 , b=0, c=0):
    return a+ b+ c

In [ ]:
print(addv3())
print(addv3(21))
print(addv3(c=21))
print(addv3(a=2,c=21))
print(addv3(2,1))

0
21
21
23
3

In [ ]:
def sum_of_evens(*numbers):
    if len(numbers) > 0:
        total = 0
        for val in numbers:
            if val % 2 == 0:
                total += val
        return total
    else:
        return

In [ ]:
sum_of_evens(1,2,3,4,5,6,3,5,78,9,1,1,1,1,2,2,3,3,34,4)

132