In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
page = "https://www.imdb.com/chart/boxoffice/?ref_=nv_ch_cht"
response = requests.get(page)
soup = BeautifulSoup(response.text,'lxml')
print('data is loaded')

data is loaded

In [10]:
target=soup.find('table',attrs={'class':'chart'}).tbody

In [11]:
rows= target.find_all('tr')
len(rows)

10

In [ ]:
movies = []
for  row in rows:
    title = row.find ("td",attrs={'class':'titleColumn'})
    weekend = row.find ("td",attrs={'class':'ratingColumn'})
    gross = row.find_all ("td",attrs={'class':'ratingColumn'})[-1]
    week = row.find ("td",attrs={'class':'weeksColumn'})
    print(title.text.strip())
    print(weekend.text.strip())
    print(gross.text.strip())
    print(week.text.strip())

In [23]:
movies = []
for  row in rows:
    title = row.find ("td",attrs={'class':'titleColumn'})
    weekend = row.find ("td",attrs={'class':'ratingColumn'})
    gross = row.find_all ("td",attrs={'class':'ratingColumn'})[-1]
    week = row.find ("td",attrs={'class':'weeksColumn'})
    movies.append({
        'title':title.text.strip(),
        'weekend':weekend.text.strip(),
        'gross':gross.text.strip(),
        'week':week.text.strip()
    })

data = pd.DataFrame(movies)
data

                                         title weekend    gross week
0  Fantastic Beasts: The Secrets of Dumbledore  $42.2M   $42.2M    1
1                         Sonic the Hedgehog 2  $29.3M  $118.9M    2
2                                The Lost City   $6.2M   $78.3M    4
3            Everything Everywhere All at Once   $6.2M   $17.7M    4
4                                   Father Stu   $5.4M    $7.7M    1
5                                      Morbius   $4.7M   $65.1M    3
6                                    Ambulance   $4.1M   $15.7M    2
7                                   The Batman   $3.8M  $365.0M    7
8                             K.G.F: Chapter 2   $2.9M    $2.9M    1
9                                    Uncharted   $1.2M  $145.0M    9

In [24]:
movies = []
for  row in rows:
    title = row.find ("td",attrrs={'class':'titleColumn'})
    weekend = row.find ("td",attrrs={'class':'ratingColumn'})
    gross = row.find ("td",attrrs={'class':'ratingColumn'})[-1]
    week = row.find ("td",attrrs={'class':'weeksColumn'})
    movies.append({
        'title':title.text.strip(),
        'weekend':weekend.text.strip(),
        'gross':gross.text.strip(),
        'week':week.text.strip()
    })

data = pd.DataFrame(movies)
data.to_csv('box_office.csv'.index=False)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (3689488794.py, line 15)