In [1]:
x= "BANARASI"
for i in x:
    print(i)

B
A
N
A
R
A
S
I

In [16]:
place=['Delhi','Lucknow','Bengal','Allahabad']
for x in place:
    print(f'i went to {x}')

i went to Delhi
i went to Lucknow
i went to Bengal
i went to Allahabad

Range() Fun

In [6]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [12]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [13]:
for i in range(2,10,3):
    print(i)

2
5
8

In [15]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [17]:
#reverse loop
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [19]:
#reverse loop
for num in range(10,1,-3):
    print(num)

10
7
4

In [20]:
#Pattern loop
for num in range(10):
    print(num * '*')

*
**
***
****
*****
******
*******
********
*********

In [43]:
#Even
for i in range(1,10):
    if i % 2 ==0:
        print(f'{i } is even')

2 is even
4 is even
6 is even
8 is even

In [46]:
#Even & Odd
for i in range(1,10):
    if i % 2 ==0:
        print(f'{i } is even')
    else:
        print(f'{i} is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd

#add all the even number from 1 to 19 , display the result

In [38]:
for i in range(1,10):
    if i % 2 ==0:
        print(f'{i + 1} ')

3
5
7
9

In [41]:
total = 0
for i in range(1,19):
    if i % 2== 0:
        total +=i
print('total=', total)

total= 90

Add all the odd number from 1,10, and display the average value

While loop

In [53]:
x = 1
while x <5:
    print ('run')
    x+=1
    print('stop')

run
stop
run
stop
run
stop
run
stop

In [2]:
expenses =0
while input('do you want to add some expenses: [y/n]') == 'y':
    val = int(input("enter amount of expenses:"))
    expenses += val
print(f'total expenses added is {expenses}')

total expenses added is 0

8 FEB

In [58]:
name= ['Saurabh ', 'Adarsh','','Ashish','','ritesh']
len(name)

6

In [59]:
for x in name:
    print(f'{x} is person')

Saurabh  is person
Adarsh is person
 is person
Ashish is person
 is person
ritesh is person

In [63]:
for x in name:
    if len (name)>0:
        print(f'{x} is person')

Saurabh  is person
Adarsh is person
 is person
Ashish is person
 is person
ritesh is person

In [64]:
expenses = 0
while True: #infinite
    val = input("Enter amount:")
    if len (val)== 0:
        break 
    expenses += int(val)
print(f'total expenses added is {expenses}')

total expenses added is 830

In [68]:
for i in range(10):
    print(i, end=' ')
else:
    print("SUCCESS")

0 1 2 3 4 5 6 7 8 9 SUCCESS

In [69]:
stopval = int(input('enter a stop value'))
for i in range(10):
    if i == stopval:
        break
    print(i,end=' ')
else:
    print('success')

0 1 2 3

### Prime

In [14]:
num = int (input('enter  a prime number'))
for i in range(2,num):
    if num%i==0:
        print(f' not prime : {num}')
        break
    else:
        print(f" Prime number : {num}")

 not prime : 6

Print all the factor of a number given by user

In [77]:
x=90
for i in range(1, x + 1):
       if x % i == 0:
           print(i, end=' ')

1 2 3 5 6 9 10 15 18 30 45 90

### Print the LCM of a number given by user

In [12]:
n = int(input('Enter the number: ')) 
m = int(input('Enter the number: ')) 
for x in range (1, n+1):
    for y in range (1, m+1):
        print(x*y, end=" ")

    print(" ")

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25